<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home • KitabMuka</title>
  <link rel="stylesheet" href="/styles/post.css">
</head>
<body>
  <nav class="navbar">
    <h2>KitabMuka</h2>
    <div class="nav-actions">
      <a href="/kitabmuka/posts/add" class="btn">Post</a>
      <a href="/kitabmuka/communities" class="btn outline">Communities</a>
      <a href="/kitabmuka/profile/<%= user.userId %>" class="btn outline">Profile</a>
      <a href="/kitabmuka/logout" class="btn outline">Logout</a>
    </div>
  </nav>

  <main class="container">
    <section class="feed">

      <% if (posts.length === 0) { %>
        <p class="empty">No posts yet 😴</p>
      <% } %>

      <% posts.forEach(post => { %>
        <article class="post">
          <div class="post-header">
            <strong>
              <a href="/kitabmuka/profile/<%= post.User.id %>" >@<%= post.User.username %></a>
            </strong>
            <span class="date"><%= formatDate(post.createdAt) %></span>
          </div>

          <% if (post.imageUrl) { %>
            <div class="post-image">
              <img src="<%= post.imageUrl %>" alt="Post image">
            </div>
          <% } %>

          <p class="post-content">
            <%= post.description %>
          </p>

          <% if(post.Community){ %>
      <p class="post-community">
        posted from 
        <a href="/kitabmuka/communities/<%= post.Community.id %>" class="community-link">
          <%= post.Community.communityName %>
        </a>
      </p>
    <% } %>

          <div class="post-actions">
            <a href="/kitabmuka/posts/<%= post.id %>/like">❤️ Like (<%= post.totalLike %>)</a>

            <% if (post.UserId === user.userId) { %>
              <a href="/kitabmuka/posts/<%= post.id %>/edit">✏️ Edit</a>
              <a href="/kitabmuka/posts/<%= post.id %>/delete" class="danger">🗑 Delete</a>
            <% } %>
          </div>
        </article>
      <% }) %>
    </section>
  </main>
</body>
</html>